doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Prototype
    link(rel='stylesheet', href='style.css')
  body
    center
      h1 Memory game
   

    table border="3" bordercolor="red" align="center"
      tr
        td image1
        td image2
        td image3
                   
       
      tr
        td image4
        td image5
        td image6
       
      tr
        td image7
        td image8
        td image9
       
      tr
        td image10
        td image11
        td image11
       
      tr
        td image12
        td image13
        td image14
       
      tr
        td image15
        td image16
        td image17
       
      tr
        td image18
        td image19
        td image20
       
   
  

 
      
    script(src='vendorjquerydistjquery.js')
    script(src='main.js')
