doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Prototype
    link(rel='stylesheet', href='/style.css')
    script(src='main.js')
  body
    #picbox
      span#boxbuttons
        span.button
          span#counter 0
          |         Clicks
        span.button
          a(onclick='ResetGame();') Reset
      #boxcard
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type='text/javascript')
    script(src='vendor/jquery/dist/jquery.js', type='text/javascript')
    script(src='main.js')
